body {
        background-color: white;
}

#main {
    background-color: orange;
    width: 500px;
    height: 550px;
    position: relative;
    margin: auto;
}

#userBtn0, #userBtn1, #userBtn2 {
    top: 100px;
    position: absolute;
    background: none;
}
    
#userBtn0 {
    left: 70px;
}

#userBtn1 {
    left: 200px;
}

#userBtn2 {
    left: 330px;
}
    
    
#userSelect {
    color: white;
    font-size: 2.0em;
    top: 50px;
    position: relative;
    text-align: center;
}



#userTag {
    color: white;
    font-size: 2.0em;
    top: 200px;
    left: 130px;
    position: absolute;
}

#userSelection {
    top: 280px;
    left: 110px;
    position: absolute;
}
    

#pcTag {
    color: white;
    font-size: 2.0em;
    top: 200px;
    left: 320px;
    position: absolute;
}

#pcSelection {
    top: 280px;
    left: 290px;
    position: absolute;
}



#result {
    font-size: 4.0em;
    color: white;
    top: 150px;
    position: relative;
    text-align: center;
}

